.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../../assets/images/leaves-background.png');
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: -1;
    }
}
