.create-course {
    margin-top: 30px;
}
.create-course__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.create-course__header-title {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 28px;
}
.create-course label {
    text-align: center;
    display: block;
    /* padding: 8px 16px; */
    background-color: #ebf1ef;
    color: #fff;
    border-radius: 10px;
    margin-right: 12px;
}