.wrapper {
    position: relative;
    left: calc(var(--sidebar-width) + 36px);
    top: calc(var(--status-height) + 48px);
    width: calc(0.5*100vw);
    margin-top: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-bottom: 12px;
}