.container {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../../../assets/images/leaves-background.png');
        width: 100%;
        height: 100vh;
        opacity: 0.5;
        z-index: -1;
    }
}
