.wrapper {
    background-color: var(--primary-color);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    box-shadow: -5px 0 8px #333;
}

.content {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
        color: var(--white-color);
        font-weight: 400;
    }
}