@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

.header {
    background-color: #06d287;
    padding: 18px 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Chewy', cursive;
    font-size: 32px;
}

.header__logo-wrap img {
    max-height: 80px;
    height: 80%;
}

h3 {
    font-size: 20px;
}