@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap');

.login__title {
    font-family: 'Cabin', sans-serif;
}

.login-modal {
    width: 35%;
    background-color: #ffffff;
    border-radius: 10px;
}

.form-label {
    width: 100%;
}
/* 
.sign-in-modal {
    background-color: #fff;
    width: 35%;
    margin: auto;
} */