.navigation__search {
    position: relative;
}

.navigation__search-input {
    border: none;
    outline: none;
    background-color: #f5f5f5;
    border-radius: 15px;
    font-size: 18px;
    /* padding: 2px 18px; */
    height: 30px;
}
.navigation__search-icon {
    position: absolute;
    left: 5px;
    top: 6px;
}
.navigation__wrap {
    flex: 1;
    display: flex;
    align-items: center;
}
.user-avatar {
    background-color: #f4511e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
}

