.header-status {
    display: flex;
    align-items: center;
    width: 750px;
    background-color: #f5f5f5;
    padding: 30px 45px;
    border-radius: 10px;
    /* position: fixed; */
}
.header-status__text {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 18px;
}
.header-status__avatar {
    background-color: #f4511e;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 24px; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
}