.sidebar {
    background-color: #00d185;
    max-width: 100px;   
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
    position: fixed;
}

.sidebar__wrap {
    text-align: center;
}

.sidebar__logo {
    width: 70%;
}

.side__logout-link,
.sidebar__feature-link {
    color: #fff;
}

.side__logout-link:hover,
.sidebar__feature-link:hover {
    color: #ddd;
}
