.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin-bottom: 18px;
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid var(--border-color);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

    img {
        width: 30%;
    }
}

.info {
    width: 50%;
    p {
        font-size: 1.2rem;
    }
}
