.wrapper {
    --icon-font-size: 2.8rem;
    --icon-hover-color: #333;

    position: fixed;
    min-height: 95vh;
    background-color: var(--primary-color);
    width: var(--sidebar-width);
    border-radius: 20px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    margin: 12px;
    z-index: 999;
    // box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.navigate {
    display: flex;
    flex-direction: column;
    align-items: center;
        
    li {
        margin: 36px 0;
        font-size: var(--icon-font-size);
        display: flex;
        justify-content: center;
    }
    
    a {
        color: var(--white-color);
    }

    li:hover a {
        color: var(--icon-hover-color);
    }
}

.logout {
    font-size: var(--icon-font-size);
    color: var(--white-color);

    &:hover {
        color: var(--icon-hover-color);
        cursor: pointer;
    }
}
